<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>maven-snapshots</id>
      <username>admin</username>
      <password>GAURAv3990@</password>
    </server>
    <server>
      <id>vprofile-release</id>
      <username>admin</username>
      <password>GAURAv3990@</password>
    </server>
        <server>
        <id>vpro-maven-central</id>
      <username>admin</username>
      <password>GAURAv3990@</password>
    </server>
    <server>
        <id>vpro-maven-group</id>
      <username>admin</username>
      <password>GAURAv3990@</password>
      <privateKey>/root/.ssh/authorized_keys</privateKey>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>vpro-maven-central</id>
      <name>vpro-maven-central</name>
      <url>http://54.236.179.16:8081/repository/vpro-maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
 </settings>
